# API KEY files
.env
.env.local

# Python virtual enviroment
.venv/
venv/
env/

# Python Plance
__pycache__/
*.pyc
*.pyo
*.pyd

# privacy notes
notes/

# chromadb persist data
chromadb_persist/

# IDE
.idea/
.vscode/
*.swp